html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
/* ----------Arrange top page's slider----------- */
.carousel-inner {
    position: relative;
    height: 80vh;
    line-height:120px;
    overflow: hidden;
    transition: .5s;
}
.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0.7);
}
.carousel-item { background-color: transparent !important; }
.carousel-item > .carousel-caption {
    position: sticky;
    display: inline;
    color: lightgray;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    transform: translateY(50%);
}
.carousel-caption.first { float: left; }
.carousel-caption.second { float: right; }
.carousel-caption.second:hover {
    cursor: pointer;
    text-decoration: underline white;
    z-index: 10;
}
.pager a {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.carousel-indicators {
    bottom: 30px;
    transition: .5s;
}
.carousel-indicators > .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    transition: .5s linear;
    cursor: pointer;
}
.active {
    border: white;
    background-color: white;
}



