/* ---------------------Left Side------------------------------------------------------ */
main .image-info{
    position: absolute;
    float: left;
    padding: 0 130px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 600;
    top: 20%;
    left: 2%;
    transition: .5s;
}
/* ---------------------Image Part------------------------------------------------------ */
main .image_tab{
    position: relative;
    display: block;
    float: right;
    align-items: center;
    transform: translateY(10%);
    /* top: 17%;
    left: 23%; */
}
.img-fluid {
    width: 100%;
    vertical-align: middle;
    transition: .5s;
}

/* ---------------------Icon Part------------------------------------------------------ */
/*Prev and Next Icon*/
.carousel {
    position: absolute;
    top: 90%;
    left: 25%;
}
.container-icon {
    position: absolute;
    top: 88%;
    left: 80%;
    width: 200px;
    display: flex;
    align-self: center;
}
/*Reaction icon*/
.container-icon .heart-icon {
    width: 100px;
    stroke-width: 20;
    stroke: white;
}
.container-icon .heart-icon path {
    fill: transparent;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1580;
    stroke-dashoffset: 0;
}
.container-icon .heart-icon:hover path {
    animation: animated-heart 2s linear forwards;
}
@keyframes animated-heart {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1580;
    }
    80%{
        stroke-dashoffset: 3160;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3160;
        fill: white;
    }
}
.container-icon .download-icon {
    width: 100px;
    margin: 0 0 0 10px;
    stroke-width: 20;
    stroke: white;
}
.container-icon .download-icon path {
    fill: transparent;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1780;
    stroke-dashoffset: 0;
}
.container-icon .download-icon:hover path {
    animation: animated-download 2s linear forwards;
}
@keyframes animated-download {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1780;
    }
    80%{
        stroke-dashoffset: 3560;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3560;
        fill: white;
        display:contents;
    }
}
.container-icon .share-icon {
    width: 100px;
    margin: 0 0 0 10px;
    stroke-width: 20;
    stroke: white;
}
.container-icon .share-icon path {
    fill: white;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1780;
    stroke-dashoffset: 1780;
}
.container-icon .share-icon:hover path { animation: animated-share 2s linear forwards; }
@keyframes animated-share {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1780;
    }
    80%{
        stroke-dashoffset: 3560;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3560;
        fill: white;
        display:contents;
    }
}
.container-icon .expand-icon {
    width: 100px;
    margin: 0 0 0 10px;
    stroke-width: 20;
    stroke: white;
}
.container-icon .expand-icon path {
    fill: white;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1780;
    stroke-dashoffset: 0;
}
.container-icon .expand-icon:hover path { animation: animated-expand 2s linear forwards; }
@keyframes animated-expand {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1780;
    }
    80%{
        stroke-dashoffset: 3560;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3560;
        fill: white;
        display:contents;
    }
}
/* ---------------------Responsive Part------------------------------------------------------ */
@media screen and (max-width: 1700px) {
    main .image-info{
        padding: 0 50px;
        transition: .5s;
    }
    main .image_tab{
        transform: translateY(50%);
    }
    .img-fluid {
        float: right;
        vertical-align: middle;
        width: 70%;
        transition: .5s;
    }
}