.img-thumbnail {
    position: absolute;
    border: transparent !important;
    background-color: transparent !important;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-thumbnail .img-fluid { width: 100%; }
.icon-group .heart-icon {
    position: absolute;
    display: block;
    border-radius: 50px;
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    text-align: center !important;
    text-decoration: none !important;
    width: 100px;
    height: 50px;
    bottom: 70%;
    right: 3%;
    transform: translate(-50%, -50%);
}
/*.icon-group > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ff4949;
    width: 50%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    transform: translateX(-200px) rotate(-325deg);
}*/
.icon-group .heart-icon.liked {
    background-color: transparent;
    color: white;
}
/*
.icon-group > a.liked:before {
    transform: translateX(0) rotate(35deg);
}*/
