/* -----------------Image Part----------------- */

.row .col-xl-auto {
    float: right;
    transform: translateY(10%);
    transition: .5s;
}
.image-info{
    position: absolute;
    float: left;
    padding: 0 130px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 600;
    top: 20%;
    left: 2%;
    transition: .5s;
}
/* ------------------Prev and Next Icon--------------------- */
/*Prev and Next Icon*/
.carousel {
    position: absolute;
    top: 90%;
    left: 25%;
}
.container-icon {
    position: absolute;
    top: 88%;
    left: 80%;
    width: 200px;
    display: flex;
    align-self: center;
}
/* ------------------Reaction icon------------------ */
.container-icon .heart-icon {
    width: 100px;
    stroke-width: 20;
    stroke: white;
    cursor: pointer;
}
.container-icon .heart-icon path {
    fill: transparent;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1580;
}
.container-icon .heart-icon:hover path {
    animation: animated-heart 1.5s linear forwards;
}
@keyframes animated-heart {
    80%{
        stroke-dashoffset: 3160;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3160;
        fill: white;
    }
}
.container-icon .download-icon {
    width: 100px;
    margin: 0 0 0 10px;
    stroke-width: 20;
    stroke: white;
    cursor: pointer;
}
.container-icon .download-icon path {
    fill: transparent;
    stroke-width: 20;
    stroke: white;
    stroke-dasharray: 1780;
}
.container-icon .download-icon:hover path {
    animation: animated-download 1.5s linear forwards;
}
@keyframes animated-download {
    80%{
        stroke-dashoffset: 3560;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3560;
        fill: white;
    }
}
/* ---------------Responsive Part----------------- */
@media screen and (min-width: 1301px) and (max-width: 1700px) {
    main .image-info{
        padding: 0 50px;
        transition: .5s;
    }
    .col-xl-auto > img {
        float: right;
        width: 1200px;
        transform: translateY(10%);
        /*transition: .5s;*/
    }
}
@media screen and (min-width: 801px) and (max-width: 1300px) {
    main .image-info{
        /*position: relative;*/
        padding: 0 5px;
        top: 70%;
        left: 2%;
        transition: .3s;
    }
    .col-xl-auto > img {
        float: right;
        width: 80%;
        transform: translateY(30%);
        /*transition: .5s;*/
    }
}
@media screen and (min-width: 400px) and (max-width: 800px) {
    main .image-info{
        /*position: relative;*/
        padding: 0 5px;
        font-size-adjust: inherit;
        font-weight: 600;
        top: 70%;
        left: 2%;
        transition: .3s;
    }
    .col-xl-auto > img {
        width: 100%;
        transform: translateY(30%);
        /*transition: .5s;*/
    }
}
