<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Special+Elite&family=Patrick+Hand&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/CSS/navbar.css}" />
  <link rel="stylesheet" th:href="@{/CSS/homepage_style.css}" />
  <link rel="stylesheet" th:href="@{/CSS/gallery.css}" />
  <title> Photographics - Animal </title>
</head>
<body>
<nav th:replace="html/layout::fotogram-nav-bar"></nav>


</body>
</html>