<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/explore_style.css">

    <title> Photographics - Homepage </title>
</head>
<body style="background-color: #222222">

<main style="z-index: 1">
    <div class="top_square" style="z-index: -1"></div>
    <nav class="nav-bar">
        <div class="max-width">
            <div class="logo">
                <a href=""> PHOTOGRAPHICS </a>
            </div>
            <ul class="nav-menu">
                <li class=""><a href=""> Home </a></li>
                <li class=""><a href=""> Images </a>
                    <ul class="dropdown">
                        <li><a href=""> Photos </a></li>
                        <li><a href=""> Graphics </a></li>
                    </ul>
                </li>
                <li class=""><a href=""> Topics </a>
                    <ul class="dropdown">
                        <li><a href=""> Animals </a></li>
                        <li><a href=""> Natures </a></li>
                        <li><a href=""> Sky </a></li>
                        <li><a href=""> Family </a></li>
                    </ul>
                </li>
                <li class=""><a href=""> Collections </a></li>
                <li class=""><a href=""> Explore </a></li>
            </ul>
            <div class="login">
                <ul class="login-nav">
                    <li class=""><a href=""> Login </a></li>
                    <li class=""><a href=""> Join </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bot_square" style="z-index: -1"></div>

    <div class="container">
        <img src="../Images/sky-5375005.jpg" class="main_image" id="main_image">
        <div class="tagline">"a travers forêt ou alpage"</div>
        <div class="explore">
            <a href="Homepage.html" style="text-decoration: none;">EXPLORE</a>
        </div>
        <div class="info">Photo of the day by: "ttfatty1012" <br>Tag: forest, mystical, gloomy</div>
        <div class="view">View Image</div>
    </div>

    <div class = "pager">
        <button class="btn" id="#prevBtn" onclick="prevImg()">Prev </button>
        <span class="dot active" id="dot1"></span>
        <span class="dot" id="dot2"></span>
        <span class="dot" id="dot3"></span>
        <span class="dot" id="dot4"></span>
        <button class="btn" onclick="nextImg()"> Next</button>
    </div>
</main>
<script src="../JS/explore_js.js"></script>
</body>

</html>