<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage_style.css">
    <title> Photographics - Homepage </title>
</head>
<body>
    <section>
        <nav class="nav-bar">
            <div class="max-width">
                <div class="logo">
                    <a href="">PHOTOGRAPHICS</a>
                </div> 
                <ul class="nav-menu">
                    <li class="main-menu"><a href=""> Home </a></li>
                    <li class="main-menu"><a href=""> Images </a>
                        <ul class="dropdown">
                            <li><a href=""> Photos </a></li>
                            <li><a href=""> Graphics </a></li>
                        </ul>
                    </li>
                    <li class="main-menu"><a href=""> Topics </a>
                        <ul class="dropdown">
                            <li><a href=""> Animals </a></li>
                            <li><a href=""> Natures </a></li>
                            <li><a href=""> Sky </a></li>
                            <li><a href=""> Family </a></li>
                            <li><a href=""> Love </a></li>
                        </ul>
                    </li>
                    <li class="main-menu"><a href=""> Collections </a></li>
                    <li class="main-menu"><a href=""> Explore </a></li>
                </ul>
                <div class="side-nav">
                    <div class="search">
                        <input type="search" placeholder="Search for high-resolution images">
                        <div id="holder"></div>
                    </div>
                    <ul class="login-nav">
                        <li class="join"><a href=""> Login </a></li>
                        <li class="separate"></li>
                        <li class="join"><a href=""> Sign up </a></li>
                    </ul>
                    <div class="menu-button">
                        <div class="burger">
                            <div id="line1"></div>
                            <div id="line2"></div>
                            <div id="line3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="photo-slider">
            <img src="../Images/sky-5375005.jpg" class="main_image" id="main_image">
            <div class="tagline">"a travers forêt ou alpage"</div>
            <div class="info">
                Photo of the day by: "ttfatty1012" <br>
                Tag: forest, mystical, gloomy
            </div>
            <div class="view">View Image</div>
            <div class = "pager">
                <button class="btn" id="#prevBtn" onclick="prevImg()">Prev </button>
                <span class="dot active" id="dot1"></span>
                <span class="dot" id="dot2"></span>
                <span class="dot" id="dot3"></span>
                <span class="dot" id="dot4"></span>
                <button class="btn" onclick="nextImg()"> Next</button>
            </div>
        </div>
    </section>
    <main>
        <div class="gallery" id="gallery">
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619448700089-c15917f578d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619447257726-fe312296ee9b?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.pexels.com/photos/3521188/pexels-photo-3521188.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619434584771-8bb6b67fa1e4?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619434778515-1fe02d87d522?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.pexels.com/photos/5137450/pexels-photo-5137450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            </div>
            <div class="box">
                <img src="https://scontent-xsp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/178179331_169386345084248_2257307775707735012_n.jpg?tp=1&_nc_ht=scontent-xsp1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=P6cZzKF4S2QAX93LmzS&edm=AIQHJ4wAAAAA&ccb=7-4&oh=d6185867283a6635128d052f5941197f&oe=60ADECF7&_nc_sid=7b02f1" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619422306083-937fb8f27be8?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619555240389-708ba2ee7591?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619560946763-22633ffb8f5b?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60" alt="">
            </div>
            <div class="box">
                <img src="https://images.unsplash.com/photo-1619778290645-3f88886f3533?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div><div class="box">
                <img src="https://images.unsplash.com/photo-1619676787002-838325ed050c?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMnx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div><div class="box">
                <img src="https://images.unsplash.com/photo-1619911087942-74c21c86dedf?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0OHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="">
            </div>
        </div>
    </main>
    <script src="homepage_script.js"></script>
</body>
</html>