<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Special+Elite&family=Patrick+Hand&display=swap" rel="stylesheet">

<!--    <link rel="stylesheet" href="../CSS/navbar.css">-->
<!--    <link rel="stylesheet" href="/../CSS/homepage_style.css">-->
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}" />
    <link rel="stylesheet" th:href="@{/CSS/homepage_style.css}" />
    <link rel="stylesheet" th:href="@{/CSS/gallery.css}" />
    <title> Photographics - Homepage </title>
</head>
<body>

    <!-- Add nav-bar from 'HTML/layout.html' -->
    <nav th:replace="html/layout::fotogram-nav-bar"></nav>


    <header id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{Images/sky-5375005.jpg}">
                <div class="carousel-caption">
                    <p>Photo of the day by: "ttfatty1012"<p>
                    <p>Tag: forest, mystical, gloomy<p>
                    <span> View Image </span>
                </div>
            </div>
            <div class="carousel-item">
<!--                <img src="../../static/Images/mario.jpg">-->
                <img th:src="@{Images/mario.jpg}">
            </div>
            <div class="carousel-item">
<!--                <img src="../../static/Images/kaysar.jpg">-->
                <img th:src="@{Images/kaysar.jpg}">
            </div>
            <div class="carousel-item">
<!--                <img src="../../static/Images/shawn.jpg">-->
                <img th:src="@{Images/shawn.jpg}">
            </div>
        </div>
        <!-- Indicators and Left/Right control buttons -->
        <div class="pager">
            <a class="carousel-control-prev" href="#demo"  data-slide="prev"> Prev </a>
            <div class="carousel-indicators">
                <span data-target="#demo" class="dot active" data-slide-to="0"></span>
                <span data-target="#demo" class="dot" data-slide-to="1"></span>
                <span data-target="#demo" class="dot" data-slide-to="2"></span>
                <span data-target="#demo" class="dot" data-slide-to="3"></span>
            </div>
            <a class="carousel-control-next" href="#demo" data-slide="next"> Next </a>
        </div>
    </header>
    <main id="main">
<!--         Indicate Main Gallery-->
        <div th:replace="html/gallery::fotogram-default-gallery"></div>
    </main>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--    <script src="../../../../../../../../Downloads/main/JS/homepage_script.js"></script>-->
    <script type="text/javascript" th:src="@{JS/homepage_script.js}"></script>
</body>
</html>