<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Special+Elite&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/CSS/imagetab_style.css}" />
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}" />
    <!--    <link rel="stylesheet" href="../CSS/navbar.css">-->
<!--    <link rel="stylesheet" href="../CSS/imagetab_style.css">-->

    <title> Photographics - Image </title>
</head>
<body>

    <!-- Add nav-bar from 'HTML/layout.html' -->
    <nav th:replace="html/layout::fotogram-nav-bar"></nav>
    <main>
        <div class="img-thumbnail">
            <img class="img-fluid" alt="Responsive image" th:src="@{/Images/image.png}">
        </div>
        <div class="icon-group">
            <div class="heart-icon"> Like </div>
        </div>
    </main>

<!--    <main>-->
<!--        <div class="image-info">-->
<!--            <h3 class="left" id="credit">Photo by:</h3>-->
<!--            <h3 class="left" id="description">Photo description:</h3>-->
<!--            <h3 class="left" id="tag">Tag: #night</h3>-->
<!--        </div>-->
<!--        <div class="row justify-content-end">-->
<!--            <div class="col-sm-auto">-->
<!--                <img class="img-fluid" alt="Responsive image" th:src="@{/Images/image.png}">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel">-->
<!--            <a class="carousel-control-prev-icon" th:href="@{#}" data-slide="prev"></a>-->
<!--            <a class="carousel-control-next-icon" th:href="@{#}" data-slide="next"></a>-->
<!--        </div>-->
<!--        <div class="icon">-->
<!--            <div class="heart-icon"><a>Like</a></div>-->
<!--            <button class="download-icon"><a>Like</a></button>-->
<!--        </div>-->
<!--    </main>-->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{JS/imagetab_js.js}"></script>
    <script type="text/javascript" th:src="@{JS/homepage_script.js}"></script>
</body>
</html>
