<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/CSS/navbar.css}" />
<!--  <link rel="stylesheet" th:href="@{/CSS/homepage_style.css}" />-->
</head>

<body>

<nav th:fragment="fotogram-nav-bar" class="nav-bar">
  <div class="max-width">
    <div class="logo">
      <a th:href="@{/home}">Fotogram</a>
    </div>
    <ul class="nav-menu">
      <li class="main-menu"><a th:href="@{/home}"> Home </a></li>
      <li class="main-menu"><a th:href="@{/imagetab}"> Images </a>
        <ul class="dropdown">
          <li><a class="dropdown-item" href=""> Photos </a></li>
          <li><a class="dropdown-item" href=""> Graphics </a></li>
        </ul>
      </li>
      <li class="main-menu"><a th:href="@{/collections}"> Collections </a>
        <ul class="dropdown">
          <li><a class="dropdown-item" href=""> Animals </a></li>
          <li><a class="dropdown-item" href=""> Natures </a></li>
          <li><a class="dropdown-item" href=""> Sky </a></li>
          <li><a class="dropdown-item" href=""> Family </a></li>
          <li><a class="dropdown-item" href=""> Love </a></li>
        </ul>
      </li>
      <li class="main-menu"><a th:href="@{/explore}"> Explore </a></li>
      <li class="main-menu"><a th:href="@{/about}"> About Us </a></li>
    </ul>
    <div class="side-nav">
      <div class="search">
        <input type="search" placeholder="Search for high-resolution images">
        <div id="holder"></div>
      </div>
      <ul class="login-nav">
        <li class="join"><a href=""> Login </a></li>
        <li class="separate"></li>
        <li class="join"><a href=""> Sign up </a></li>
      </ul>
      <div class="menu-button">
        <div class="burger">
          <div id="line1"></div>
          <div id="line2"></div>
          <div id="line3"></div>
        </div>
      </div>
    </div>
  </div>
</nav>


</body>

</html>